@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Montserrat:wght@400;500;600&display=swap');

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Chivo', sans-serif; */
}

button {
  font-family: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrp {
  width: 1300px;
  text-align: left;
  margin: 0 auto;
}

main {
  flex: 1 1 auto;
}

header {
  padding: 5px 0;
  background: #D01A1A;
}

footer {
  padding: 9px 0;
  background: #D01A1A;
}

.header-start span {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.header-end {
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-socials {
  display: flex;
}

.header-socials a {
  display: inline-block;
  margin-right: 22px;
}

.header-socials a:last-child {
  margin-right: 0;
}

.header-buttons {
  margin-left: 88px;
  display: flex;
}

.b_tor {
  background: #000000;
  border: none;
  padding: 9px;
  padding-left: 12px;
  border-radius: 74px 0px 0px 74px;
  color: #FFFFFF;
}

.b_web {
  background: #FFFFFF;
  border: none;
  padding: 9px;
  padding-right: 12px;
  border-radius: 0 74px 74px 0;
  color: #000000;
}

main.chat {
  margin-top: 130px;
}

.chat-head {
  display: flex;
  align-items: center;
}

.chat-head_img {
  margin-right: 118px;
}

.checkbox-red {
  display: inline-block;
  line-height: 28px;
  position: relative;
  user-select: none;
  height: 79px;
}

.checkbox-red .checkbox-red-switch {
  display: inline-block;
  height: 78px;
  width: 331px;
  box-sizing: border-box;
  position: relative;
  border-radius: 19px;
  background: RGB(231, 141, 141);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.checkbox-red .checkbox-red-switch:before {
  content: attr(data-label-on);
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  padding: 0 12px;
  position: absolute;
  top: 23px;
  left: 155px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

.checkbox-red .checkbox-red-switch:after {
  content: attr(data-label-off);
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  padding: 21px 31px;
  border-radius: 19px;
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  font-size: 28px;
  line-height: 34px;
  border: 1px solid #D01A1A;
  color: #D01A1A;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.checkbox-red input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-red input[type="checkbox"]:checked+.checkbox-red-switch:before {
  content: attr(data-label-off);
  left: 20px;
}

.checkbox-red input[type="checkbox"]:checked+.checkbox-red-switch:after {
  content: attr(data-label-on);
  transform: translate3d(141px, 0, 0);
}

.checkbox-red input[type="checkbox"]:not(:disabled)+.checkbox-red-switch:hover {
  cursor: pointer;
}

.chat-body {
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;
}

.chats {
  width: 545px;
  background: #000000;
  border-radius: 14px 0 0 14px;
}

.chats-head {
  width: 545px;
  padding: 50px 44px;
}

.chats-search {
  position: relative;
}

.chats-search_input {
  font-family: inherit;
  width: 100%;
  height: 42px;
  padding-left: 30px;
  border: 2px solid #ffffffc0;
  border-radius: 82px;
  background: none;
  outline: none;
  color: #9E9C9C;
}

.chats-search_button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: none;
  border-radius: 82;
  cursor: pointer;
}

.chats-search_button:before {
  content: url(../images/search.svg);
}

.chats-content {
  height: 800px;
  overflow: auto;
}

.chats-active {
  border: 3px solid #000000;
  border-radius: 0 19px 19px 0;
  width: 100%;
}

#tabsDiv {
  /* border: 2px solid #c0c0c0; */
}

#tabsDiv ul {
  /* padding: 0px 5px; */
}

#tabsDiv li {
  height: 143px;
}

#tabsDiv button {
  float: left;
  border: none;
  background-color: #f1f0f4;
}

#tabsDiv button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 17px 44px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
}

#tabsDiv button:hover {
  background-color: #d1d1d1;
}

#tabsDiv button.active {
  background-color: #D01A1A;
}

.contentClass {
  display: none;
  /* padding: 0px 15px; */
  border-style: none;
  height: 100%;
}

.subject_name {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 9px;
}

.subject_preview {
  display: -webkit-box;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject_name::after {
  content: "";
  background-color: #9B9B9B;
  border-radius: 50px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 38%;
  margin-left: 14px;
}

.subject_name.online::after {
  background-color: #59FF56;
}

.timer {
  padding: 54px;
}

#timer {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

#timer span {
  padding: 0 40px;
}

.timer ::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}

.t_date,
.t_hour,
.t_min,
.t_sec {
  position: relative;
}

.t_date::after {
  content: 'DAYS';
}

.t_hour::after {
  content: 'HOURS';
}

.t_min::after {
  content: 'MINUTES';
}

.t_sec::after {
  content: 'SECONDS';
}

.subject-chat_headname {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.subject-chat_headname h3 {
  font-weight: 600;
  font-size: 23px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 10px;
}

.subject-chat_headname h4 {
  font-size: 17px;
  line-height: 100%;
  color: #000000;
}

.subject-chat_messenger {
  padding: 0 50px;
  overflow: auto;
  height: 525px;
}

.message_head {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.m_message {
  margin-bottom: 80px;
}

.m_message .message_name {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.messenger_admin .message_head {
  flex-direction: row-reverse;
}

.messenger_user .message_name {
  margin-right: 18px;
}

.messenger_admin .message_name {
  margin-left: 18px;
}

.messenger_user .message_status {
  margin-right: 29px;
}

.messenger_admin .message_status {
  margin-left: 29px;
}

.message_time {
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  opacity: 0.5;
}

.message_block {
  background: rgba(215, 215, 215, 0.5);
  padding: 20px 30px;
}

.messenger_user .message_block {
  border-radius: 0px 19px 19px 19px;
}

.messenger_admin .message_block {
  border-radius: 19px 0px 19px 19px;
}

.message_text {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.messenger_field {
  position: relative;
  padding: 0 68px 0 50px;
}

.messenger_input {
  border: 1.5px solid #000000;
  border-radius: 19px;
  font-family: inherit;
  font-size: 20px;
  line-height: 55px;
  padding-left: 70px;
  width: 100%;
}

.messenger_input__sendbutton {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 69px;
  padding: 18px;
}

.inp_file_label {
  position: absolute;
  padding: 19px;
  cursor: pointer;
}

.inp_file_label button {
  border: none;
  background: none;
}

.messenger_input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.subject-chat_input {
  padding: 40px 0 40px 0;
}