@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Montserrat:wght@400;500;600&display=swap');

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

button {
  font-family: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  /* display: flex;
  align-items: center; */
}

header {
  padding: 0.3125rem 0;
  background: #D01A1A;
}

footer {
  padding: 0.3125rem 0;
  background: #D01A1A;
}

@media (max-width:1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width:1200px) {
  html {
    font-size: 12px;
  }
}

.header-start span {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  color: #FFFFFF;
}

.header-start a {
  text-decoration: none;
}

.header-start a:first-child {
  margin-right: 4rem;
}

.header-start span:hover {
  text-decoration-line: underline;
}

.header-socials {
  display: flex;
}

.header-socials a {
  display: inline-block;
  margin-right: 1.375rem;
}

.header-socials a:last-child {
  margin-right: 0;
}

.header-socials img {
  width: 1.875rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-end {
  display: flex;
  align-items: center;
}

.header-buttons {
  margin-left: 5.5rem;
  display: flex;
}

.b_tor {
  background: #000000;
  border: none;
  padding: 0.5625rem;
  padding-left: 0.5625rem;
  padding-left: 0.75rem;
  border-radius: 4.625rem 0px 0px 4.625rem;
  color: #FFFFFF;
}

.b_web {
  background: #FFFFFF;
  border: none;
  padding: 0.5625rem;
  padding-right: 0.5625rem;
  padding-right: 0.75rem;
  border-radius: 0 4.625rem 4.625rem 0;
  color: #000000;
}

.sub-header {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sh-start img {
  width: 5.875rem;
}

.sh-midle-nav ul {
  display: flex;
}

.sh-m-l a {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  color: #000000;
  text-decoration: none;
}

.sh-m-l a:hover {
  text-decoration: underline;
}

.sh-m-l.m-l-active a {
  color: #D01A1A;
}

.sh-midle-nav li:nth-child(2) {
  margin: 0 3.75rem;
}

.news-search {
  position: relative;
}

.news-search_input {
  font-family: inherit;
  width: 100%;
  height: 2.625rem;
  padding-left: 1.875rem;
  padding-right: 2.875rem;
  border: 2px solid #000000;
  border-radius: 5.125rem;
  background: none;
  outline: none;
  color: #000000c4;
  min-width: 25rem;
}

.news-search_button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 2.625rem;
  height: 2.625rem;
  border: none;
  background: none;
  border-radius: 5.125rem;
  cursor: pointer;
}

.main-content {
  margin-top: 9.375rem;
  margin-bottom: 7rem;
}

.m-back-link {
  text-decoration: none;
  display: inline-block;
}

.m-back-button {
  display: flex;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  color: #000000;
  align-items: center;
}

.m-back-button :first-child {
  margin-right: 1.125rem;
}

.new-news-content {
  margin-top: 3.125rem;
  display: flex;
}

.n-n-c-start {
  margin-right: 3.75rem;
}

.n-n-c-start img {
  height: 22.1875rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 19px;
}

.n-n-c-e-timentags {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.n-n-c-e-t-time {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #0000009e;
  margin-right: 2.1875rem;
}

.n-n-c-e-t-tags {
  display: flex;
  align-items: center;
}

.n-n-c-e-t-t-tag {
  margin: 0 0.625rem;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  color: #000000ce;
  cursor: pointer;
}

.n-n-c-e-namenmarks {
  margin-top: 1.5625rem;
  display: flex;
  align-items: center;
}

.n-n-c-e-n-name {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: #000000;
  margin-right: 1.875rem;
}

.n-n-c-e-n-marks {
  display: flex;
}

.n-n-c-e-n-m-mark {
  border-radius: 61px;
  padding: 0.4375rem 2rem;
  font-size: 1.375rem;
  line-height: 135%;
  color: #FFFFFF;
  margin: 0 0.625rem;
  white-space: nowrap;
}

.mark {
  background: #000000;
}

.mark-red {
  background: #D01A1A;
}

.n-n-c-e-text {
  margin-top: 1.7625rem;
  font-size: 1.375rem;
  line-height: 150%;
  color: #000000;
  width: 80%;
}

.m-imgsnfiles {
  display: flex;
  margin-top: 8.125rem;
  justify-content: space-between;
}

.m-i-s-head,
.m-i-e-head {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: #000000;
  margin-bottom: 3.125rem;
}

.m-i-s-imgs {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.875rem 1.875rem;
  grid-template-areas: ". . ."
    ". . .";
}

.m-i-s-i-imglink {
  background: #c4c4c4;
  border-radius: 15px;
  display: inline-block;
  width: 10.625rem;
  height: 10.625rem;
}

.m-i-s-i-i-img {
  object-fit: cover;
  width: 10.625rem;
  height: 10.625rem;
  border-radius: 15px
}

.m-i-s-dwn {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}

.m-i-e-dwn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.1875rem 5.3125rem;
  grid-template-areas: ". ."
    ". .";
}

.m-i-s-dwn a,
.m-i-e-dwn a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: min-content;
  text-decoration: none;
  padding: 0.3125rem;
}

.m-i-s-dwn a p,
.m-i-e-dwn a p {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 135%;
  color: #D01A1A;
  margin-right: 1.25rem;
}

.m-i-s-dwn span,
.m-i-e-dwn span {
  background: #000000;
  border-radius: 100px;
  padding: 0.1875rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 135%;
  color: #FFFFFF;
}

.m-main-content {
  margin-top: 9.375rem;
  margin-bottom: 7rem;
  display: grid;
  grid-template-columns: 1.3fr 0.8fr;
  grid-template-rows: auto;
  gap: 0px 14.0625rem;
  grid-template-areas:
    "m-c-main m-c-aside";
}

.m-c-aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 7.5rem 0px;
  grid-template-areas:
    "m-c-aside-1"
    "m-c-aside-2";
  grid-area: m-c-aside;
}

.m-c-aside-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.25rem 0px;
  grid-template-areas:
    "."
    ".";
  grid-area: m-c-aside-1;
}

.m-c-aside-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1.25rem 0px;
  grid-template-areas:
    "."
    ".";
  grid-area: m-c-aside-2;
}

/* .m-c-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 8.125rem 0px;
  grid-template-areas:
    "."
    ".";
  grid-area: m-c-main;
} */
.ann-block {
  margin: 9.375rem 0;
}

.ann-block:first-child {
  margin: 0 0 9.375rem 0;
}

.ann-block:last-child {
  margin: 9.375rem 0 0 0;
}

.aside-head {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: #000000;
  margin-bottom: 0.9375rem;
}

.aside-card a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.aside-card-content {
  position: relative;
  padding: 2.75rem 3.125rem;
  border-radius: 19px;
  background: linear-gradient(105.45deg, #D01A1A -20.3%, #000000 323.11%);
  transition: background 0.1s ease-in-out;
}

.aside-card-content:hover,
.aside-card-content:focus {
  background: linear-gradient(105.45deg, #870E0E -20.3%, #000000 323.11%);
}

.aside-card-content:active {
  background: linear-gradient(105.45deg, rgba(0, 0, 0, 0.85) -20.3%, rgba(0, 0, 0, 0.85) 323.11%);
}

.aside-card-content::after {
  content: url(../images/card-arrow.svg);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 2.5rem;
}

.a-c-c-h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0.75rem;
  color: #FFFFFF;
}

.a-c-c-h4 {
  font-size: 1.125rem;
  line-height: 135%;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a-b-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.1875rem;
}

.a-b-name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;
}

.a-b-h-typedata,
.a-b-h-time,
.a-b-h-views-count {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #0000009e;
}

.a-b-h-views-count img {
  width: 1.3125rem;
}

.a-b-h-typedata {
  color: #D01A1A;
}

.a-b-h-v-c-views {
  margin-left: 0.8125rem;
}

.a-b-n-name {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2rem;
  color: #000000;
  margin-right: 1.625rem;
}

.a-b-n-tag {
  border-radius: 61px;
  padding: 0.4375rem 2rem;
  font-size: 1.125rem;
  line-height: 135%;
  color: #FFFFFF;
  white-space: nowrap;
  background: #000000d9;
}

.a-b-text {
  font-size: 1.25rem;
  line-height: 150%;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.25rem;
}

.a-b-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-b-b-tags {
  display: flex;
}

.a-b-b-t-tag {
  margin: 0 0.625rem;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  color: #000000ce;
  cursor: pointer;
}

.a-b-b-t-tag:first-child {
  margin: 0 0.625rem 0 0;
}

.a-b-b-r-link {
  display: inline-block;
  text-decoration: none;
}

.a-b-b-r-link:hover {
  text-decoration: underline #D01A1A;
}

.a-b-b-r-l-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.a-b-b-r-l-b-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 135%;
  color: #D01A1A;
}

.a-b-b-r-l-b-img {
  margin-left: 1.125rem;
  width: 3.25rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 6.25rem;
}

.main-nav-nav {
  display: flex;
  align-items: center;
}

.m-n-n-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.m-n-n-link:hover {
  text-decoration: underline;
}

.m-n-n-link :first-child {
  margin-right: 1.125rem;
}

.m-n-n-l-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  color: #000000;
}

.link-unactive {
  opacity: 50%;
}

.main-nav-numbers {
  display: flex;
  margin: 0 4.375rem;
}

.main-nav-numbers span {
  line-height: 2.85rem;
  margin: 0 5px
}

.main-nav-numbers,
.m-n-n-number {
  font-size: 1.25rem;
  line-height: 150%;
  color: #000000;
}

.m-n-n-number {
  padding: 0.5rem;
  margin: 0 0.125rem;
  text-decoration: none;
}

.m-n-n-number:hover {
  text-decoration: underline;
}

.number-active {
  color: #D01A1A;
}

.mainModal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.mainModal:target {
  display: block;
  pointer-events: auto;
  overflow: auto;
}

.modalUUID,
.modalFeedback {
  max-width: 64.375rem;
  width: auto;
  position: relative;
  margin: 5% auto;
  padding: 4rem 7.5rem;
  background: #FFFFFF;
  border-radius: 19px;
}

.close {
  color: #FFFFFF;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 30px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  opacity: 0.7;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


.modalUUID h2,
.modalFeedback h2 {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2.375rem;
  line-height: 2.875rem;
  color: #D01A1A;
  margin-bottom: 1.125rem;
}

.modalUUID p,
.modalFeedback p {
  max-width: 35rem;
  font-family: Montserrat;
  font-size: 1.25rem;
  line-height: 150%;
  color: #000000;
}

.modalFeedback h2,
.modalFeedback p {
  text-align: center;
  max-width: 100%;
  padding: 0 2rem;
}

.modalUUID p.gotofb {
  max-width: 100%;
}

.modalUUID p.gotofb a {
  color: #D01A1A;
  text-decoration: none;
}

.modalUUID p.gotofb a:hover {
  text-decoration: underline;
}

.modalUUID form {
  margin: 3.4375rem 0;
  display: flex;
  justify-content: space-between;
}

.modalFeedback form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 7.5rem;
}

.modalUUID form input[type=text],
.modalFeedback form input[type=text],
.modalFeedback form input[type=email] {
  border: none;
  background: #000000;
  border-radius: 73px;
  line-height: 4.0625rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 0 2.5rem;
  width: 34.375rem;
}

.modalFeedback form>* {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.modalFeedback form>*:first-child {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.modalFeedback form>*:last-child {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.modalFeedback form textarea {
  border: none;
  background: none;
  background: #000000;
  border-radius: 28px;
  padding: 2.1875rem 2.5rem;
  line-height: 150%;
  font-family: Montserrat;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.modalUUID form input[type=submit],
.modalFeedback form input[type=submit] {
  line-height: 4.0625rem;
  border: none;
  background: #D01A1A;
  border-radius: 118px;
  padding: 0 4.0625rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: #FFFFFF;
  margin-left: 1rem;
}

.modalFeedback form input[type=submit] {
  margin-left: 0;
}